Ans1) A database is a structured collection of data that is organized and stored in a computer system. It allows us to efficiently store, retrieve, manage, and manipulate data. 

SQL databases are based on the relational model and use SQL as the standard language for managing and querying data. They are typically used for structured data with well-defined schemas.   
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server, and SQLite.

NoSQL databases are designed to handle large volumes of unstructured, semi-structured, or rapidly changing data. They provide flexible schemas and are suitable for applications requiring high scalability and performance.   
Types of NoSQL databases include key-value stores (e.g., Redis), document databases (e.g., MongoDB), columnar databases (e.g., Apache Cassandra), and graph databases (e.g., Neo4j).

Ans2) DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

i) CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas.   
CREATE TABLE pw_students (c1 INT,c2 VARCHAR(50),c3 VARCHAR(50));

ii) DROP: The DROP statement is used to remove or delete existing database objects from the database. It permanently deletes the object and all associated data. For example, to delete the "pw_students" table created in the previous example, we would use the following DROP    
DROP TABLE pw_students;

iii)ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows us to add, modify, or delete columns, constraints, or indexes. For example, to add a new column named "c4" to the "pw_students" table, we would use the ALTER statement as follows:    
ALTER TABLE pw_students
ADD c4 VARCHAR(100);

iv) TRUNCATE: This statement is used to remove all rows from a table, effectively deleting all data within the table while keeping the table structure intact. Unlike the DROP statement, it does not delete the table itself. For example, to remove all data from the "pw_students" table, we would use the TRUNCATE statement:   
TRUNCATE TABLE pw_students;

Ans3)  DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for managing data within a database.   

i) INSERT: The INSERT statement is used to add new rows of data into a table.    
INSERT INTO pw_skills (ID, Name, Email)
VALUES (101, 'Ayush Singh', 'ayushsingh30march@gmail.com');    
     After executing this statement, a new row will be added to the pw_skills table with the written values.

ii)UPDATE: The UPDATE statement is used to modify existing data in a table.     
UPDATE pw_skills
SET Email = 'singhayush@gmail.com'
WHERE ID = 101;
     
iii) DELETE: The DELETE statement is used to remove one or more rows from a table.     
DELETE FROM Customers
WHERE ID = 101;

Ans4) DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving data from a database.    
DQL is primarily focused on the SELECT statement, which allows us to specify the data we want to retrieve and define the conditions that must be met for the data to be included in the result set.     
SELECT Email  FROM pw_skills
WHERE ID = 101;

Ans5) Primary keys and Foreign keys play crucial roles in maintaining the integrity and relationships of data within a relational database, helping ensure data consistency and accuracy.    
Primary Key:
i) A primary key is a column or a combination of columns in a database table that uniquely identifies each record in that table.    
ii) It provides a way to ensure the uniqueness and integrity of the data within the table.   

Foreign Key:
i) A foreign key is a column or a combination of columns in a database table that refers to the primary key of another table.   
ii) It establishes a link between two tables and enforces referential integrity.    
iii) The purpose of a foreign key is to maintain the relationships between tables by ensuring that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

Ans6) To connect MySQL to Python, we can use the mysql-connector-python library.   
Making sure that we have the mysql-connector-python package installed. We can install it using the following command: pip install mysql-connector-python.    

Explanation of the cursor() method:     
-The cursor() method creates a cursor object, which allows us to execute SQL statements and fetch data from the result set.    
-A cursor acts as a handle for the database operations and allows you to interact with the database using various methods and attributes.

Explanation of the execute() method:     
-The execute() method is used to execute SQL queries or statements.     
-we pass the SQL query as a parameter to the execute() method.

Ans7) In SQL, the clauses of a query are typically executed in the following order:    
i) FROM      
ii) WHERE      
iii) GROUP BY      
iv) HAVING     
v) SELECT      
vi) DISTINCT     
vii) ORDER BY     
viii) LIMIT / OFFSET.